NET "FPGA_clk" LOC = P9;
NET "clr" LOC = G11;
NET "Start" LOC = H10;
NET "Dout[0]" LOC = T11;
NET "Dout[1]" LOC = T10;
NET "Dout[2]" LOC = P10;
NET "Dout[3]" LOC = N10;
NET "Dout[4]" LOC = M10;
NET "Dout[5]" LOC = R9;
NET "Dout[6]" LOC = T9;
NET "Dout[7]" LOC = N9;
NET "ScanEn[3]" LOC = R13;
NET "ScanEn[2]" LOC = P12;
NET "ScanEn[1]" LOC = P11;
NET "ScanEn[0]" LOC = N11;
