
#Created by Constraints Editor (xc3s400an-fgg400-4) - 2016/06/07
#3s400an square
NET "clk_video"  LOC = "V10"  ;
#NET "data_video<0>"  LOC = "Y6"  ;
#NET "data_video<1>"  LOC = "Y7"  ;
#NET "data_video<2>"  LOC = "T9"  ;
#NET "data_video<3>"  LOC = "U9"  ;
#NET "data_video<4>"  LOC = "V11"  ;
#NET "data_video<5>"  LOC = "V12"  ;
#NET "data_video<6>"  LOC = "T12"  ;
#NET "data_video<7>"  LOC = "R12"  ;
#NET "h_sync_vga"  LOC = "E1"  ;
#NET "v_sync_vga"  LOC = "D1"  ;
#NET "nReset"  LOC = "E11"  ;
#NET "b_vga<0>"  LOC = "F1"  ;
#NET "b_vga<1>"  LOC = "L1"  ;
#NET "b_vga<2>"  LOC = "K3"  ;
#NET "g_vga<0>"  LOC = "C2"  ;
#NET "g_vga<1>"  LOC = "C1"  ;
#NET "g_vga<2>"  LOC = "D2"  ;
#NET "r_vga<0>"  LOC = "D4"  ;
#NET "r_vga<1>"  LOC = "D3"  ;
#NET "r_vga<2>"  LOC = "B1"  ;
NET "rst_system"  LOC = "U5"  ;
#NET "scl"  LOC = "J17"  ;
#NET "sda"  LOC = "M18"  ;

NET "rxd" LOC = "V1";
NET "txd" LOC = "V2";



